{% extends 'instruct_nav.html' %}
{% block body %}
{% load static %}

<div class="container-fluid" style="width:70%;margin-top:2%">

    <center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ;
 font-weight : bold;margin-top:1%">Add Book</h2></center><hr>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
    <label for="exampleFormControlSelect1">Course Title</label>
    <select class="form-control" id="exampleFormControlSelect1" name="course">
        {% for i in course %}
        {% ifequal i.instruct.sign.user.id request.user.id %}
      <option value="{{i.title}}">{{i.title}}</option>
        {% endifequal %}
        {% endfor %}
    </select>
  </div>
    <div class="form-row">
    <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Book Title</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Book Name" name="book_title">
    </div></div>

    <button type="submit" class="btn btn-danger">Submit</button>
</form>
</div></div>


{% if error %}
<script>
    alert('Add Book Successfully');
    window.location = "{% url 'view_book' %}";
</script>
{% endif %}

{% endblock %}