{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E
 ; font-weight : bold;margin-top:2%">Student Signup Form</h2></center><hr>
<div class="container" style="margin-top:1%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" class="form-control" placeholder="Enter First Name" name="fname" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" id="inputPassword4">
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Contact</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Contact Detail" name="contact">
    </div></div>

    <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email Address</label>
      <input type="email" class="form-control" name="uname" placeholder="Enter Email Address" id="inputEmail4">
    </div></div>
        <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" placeholder="Enter Password" name="pwd" id="inputPassword4">
    </div>
  </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Institute Name</label>
      <input type="text" class="form-control" name="institute" placeholder="Enter Institute Name" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Image</label>
      <input type="file" class="form-control"  name="image" id="inputPassword4">
    </div>
  </div>

            <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{% if error %}
<script>
    alert('Regitered Successfully');
    window.location = "{% url 'login_user' %}";
</script>
{% endif %}

{% endblock %}